<%= @meter %>

<!-- <table>
  <tr>
    <td>The distance in meter from address</td>
    <td><%= @address_from %></td>
  </tr>
  <tr>
    <td>to address</td>
    <td><%= @address_to %></td>
  </tr>
  <tr>
    <td>is</td>
    <td><%= @meter %> meter.</td>
  </tr>
</table> -->
